<header id="main-header">
  <div id="site-title">
    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>
  <div class="links">
  {% assign current = page.title %}
  <a href="{{ site.baseurl }}/" class="page-link{% if current == null %} active{% endif %}">Blog</a>
  {% for page in site.pages %}
    {% if page.title and page.permalink != "/404.html" %}
      <a class="page-link{% if current == page.title %} active{% endif %}"
        href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
  {% endfor %}
  <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank" class="page-link">RSS</a>
  {% if site.github_repo %}
  <a href="http://github.com/{{ site.github_repo }}"
    target="_blank"
    class="page-link github-link">
    <img src="{{ "/images/github-repo.png" | prepend: site.baseurl }}" alt="Github Repository">
    Source</a>
  {% endif %}
  </div>
</header>
